
Alex_Smitt/Selenium_UI/.idea/workspace.xml
Alex_Smitt/Selenium_UI/.idea/vcs.xml
Alex_Smitt/Selenium_UI/.idea/workspace.xml
Alex_Smitt/Selenium_UI/.idea/misc.xml
Alex_Smitt/Selenium_UI/.idea/inspectionProfiles/profiles_settings.xml
*.pyc
*.xml
*.iml
Alex_Smitt/Selenium_UI/Elex/.idea/.name
Alex_Smitt/Selenium_UI/Elex/base/__init__.py
Alex_Smitt/Selenium_UI/Elex/pages/__init__.py
Alex_Smitt/Selenium_UI/Elex/screen/__init__.py
Alex_Smitt/Selenium_UI/Elex/tests/__init__.py
Alex_Smitt/Selenium_UI/Elex/utilities/__init__.py
Alex_Smitt/Selenium_UI/HW/chromeprofile/Local State
Alex_Smitt/Selenium_UI/HW/chromeprofile/First Run
Alex_Smitt/Selenium_UI/HW/chromeprofile/Default/Preferences
